<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newsletterModal">Be the first to know!</button>

<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">✕</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Be the first to know!</h1>
        <h5>about old stuff</h5>
        <%# <p class="grey-font">What's in the newsletter?</p> %>
        <p>
  <a class="grey-font" data-toggle="collapse" href="#newsletterInfo" role="button" aria-expanded="false" aria-controls="newsletterInfo">
    What's in the newsletter?
  </a>
</p>
<div class="collapse" id="newsletterInfo">
  <div class="card card-body">
    Consider this: You made all the required mock ups for commissioned layout, got all the approvals, built a tested code base or had them built, you decided on a content management system, got a license for it or adapted open source software for your client's needs. Then the question arises: where's the content? Not there yet? That's not so bad, there's dummy copy to the rescue. But worse, what if the fish doesn't fit in the can, the foot's to big for the boot? Or to small? To short sentences, to many headings, images too large for the proposed design, or too small, or they fit in but it looks iffy for reasons the folks in the meeting can't quite tell right now, but they're unhappy, somehow. A client that's unhappy for a reason is a problem, a client that's unhappy though he or her can't quite put a finger on it is worse.
  </div>
</div>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">First Name:</label>
            <div class="input-line row">
                <i class="fas fa-check-circle invis col-2"></i>
                <input type="text" class="form-control col-8" placeholder="First Name" id="first-name" name="firstName">
                <i class="fas fa-check-circle invis" id="firstNameCheck"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Last Name:</label>
            <div class="input-line row">
                <i class="fas fa-check-circle invis col-2"></i>
                <input type="text" class="form-control col-8" id="first-name" name="lastName" placeholder="Last Name">
                <i class="fas fa-check-circle invis" id="lastNameCheck"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <div class="input-line row">
                <i class="fas fa-check-circle invis col-2"></i>
                <input type="email" class="form-control col-8" id="email" placeholder="Email" name="email">
                <i class="fas fa-check-circle invis" id="emailCheck"></i>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a href="" class="closing-button" data-dismiss="modal">close modal</a>
        <button type="submit" class="btn btn-black col-8 offset-2 disabled">SUBMIT</button>
        </form>
        <p class="col-8 offset-2">Don't worry - we respect your privacy like you respect your prized armoire. And you can unsubscribe any time you want.</p>
      </div>
    </div>
  </div>
</div>