<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newsletterModal">Be the first to know!</button>

<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">✕</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Be the first to know</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">First Name:</label>
            <div class="input-line row">
                <i class="fas fa-check-circle invis col-2"></i>
                <input type="text" class="form-control col-8" placeholder="First Name" id="first-name" name="firstName">
                <i class="fas fa-check-circle invis" id="nameCheck"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Last Name:</label>
            <div class="input-line">
                <i class="fas fa-check-circle invis"></i>
                <input type="text" class="form-control" id="first-name" name="lastName" placeholder="Last Name">
                <i class="fas fa-check-circle invis" id="nameCheck"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <div class="input-line">
                <i class="fas fa-check-circle invis"></i>
                <input type="email" class="form-control" id="first-name" name="email">
                <i class="fas fa-check-circle invis" id="nameCheck"></i>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary closing-button" data-dismiss="modal">close modal</button>
        <button type="submit" class="btn btn-black">Sign the heck up!</button>
        </form>
      </div>
    </div>
  </div>
</div>