<% include partials/_head.ejs %>

<div class="container">
  <h1>USERS</h1>
  <ol class="user-list"></ol>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% include partials/_footer.ejs %>