<% include partials/_head.ejs %>

<div class="container">
  <h1>USERS</h1>
  <ol class="user-list"></ol>
</div>

<table class="table table-bordered table-responsive-sm" name="viewport" content="width=device-width, initial-scale=1.0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
</table>

<% include partials/_footer.ejs %>