body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
<<<<<<< HEAD
=======
}

.input-line {
    display: flex;
    align-content: center;
}

.fas{
    font-size: 1.5em;
}

.modal-footer {
    flex-direction: column;
    border-top: none;
}

.closing-button {
    opacity: 0;
}
.closing-button:focus {
    opacity: 100;
}

.invis {
    opacity: 0;
}

.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    /* outline: none; */
}

label {
    opacity: 0;
}

.modal-header {
    border-bottom: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.modal-header > h1, h5, p {
    width: 100%;
}

a, a:visited, a:hover{
    color: grey;
}



.btn-black {
    background-color: black;
    border-radius: 0;
    color: white;
>>>>>>> 92600fd1cc6cc88a4702ef6365711c43d08601b2
}