@font-face {
    font-family: 'Avenir';
    src: url('/Users/jerusalemlipardo/Downloads/Exported Fonts/Avenir/Avenir.ttc');
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 150%;
}

h1 {
    font-size: 34px;
    margin-top: 30px;
}

h5 {
    font-size: 18px;
}

a {
    font-size: 12px;
    margin-bottom: 0px:
}

p {
    margin-bottom: 0px;
}
.card{ 
    border: transparent;
    padding: 0;
}
.form-control {
    font-size: 12px;
}

.btn {
    font-size: 18px;
    margin-bottom: 20px;
}

.input-line {
    display: flex;
    align-content: center;
}

.fas {
    font-size: 1.5em;
}

.modal-footer {
    flex-direction: column;
    border-top: none;
}

.closing-button {
    opacity: 0;
}

.closing-button:focus {
    opacity: 100;
}

.invis {
    opacity: 0;
}

.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    /* outline: none; */
}

label {
    opacity: 0;
}

.modal-header {
    border-bottom: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 
}


@media (min-width: 576px) { 
    .modal-header {
        border-bottom: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
}

.modal-header>h1,
h5,
p {
    width: 100%;
}

a,
a:visited,
a:hover {
    color: grey;
}

#newsLetterFooter {
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}

.btn-black {
    background-color: black;
    border-radius: 0;
    color: white;
}


.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}


  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100vh;
      overflow: auto;
    }

    h1 {
        font-size: 64px;
    }

    h5 {
        font-size: 36px;
    }
  }

.modal-content {
    border-radius: 0;
}
  
  .modal.show .modal-dialog {
      margin: 0;
  }
  /* .container {
    height: 100vh;
    overflow: auto;
} */
}
